#grid_container{
    background-color: cadetblue;
    grid-template-columns: auto auto auto;
    display: grid;
    gap: 10px 20px;
    /*align-content:space-evenly;
    justify-content: center; */
}
#grid_container>div{
   background-color: azure;
   padding:10px;
  margin: 10px;

}


#item1{
grid-column-start:1 ;

grid-column-end: 3; 

   background-color: bisque;
}
#item2{
    grid-column-start: 3;
    grid-column-end: 0;
    grid-row-start: 1;
    grid-row-end: 3;
    background-color: darkkhaki;
}
#item7{
    grid-column-start: 1;
    grid-column-end:4 ;
    grid-row-start: 4;
    
    background-color: blueviolet;
}